body { background: #95edc4; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-shipping-0 { color: #8acf44; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #21e23d; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #2b1e0f; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #71e849; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #7f8357; font-size: 19px; margin-bottom: 5px; }
.block-logger-5 { color: #241027; font-size: 17px; margin-bottom: 5px; }
.block-filter-6 { color: #8c22bf; font-size: 16px; margin-bottom: 5px; }
.block-router-7 { color: #dfe193; font-size: 13px; margin-bottom: 5px; }
.block-product-8 { color: #967bd6; font-size: 19px; margin-bottom: 5px; }
.block-search-9 { color: #b8b14e; font-size: 19px; margin-bottom: 5px; }
.block-product-10 { color: #6dba4b; font-size: 19px; margin-bottom: 5px; }